.img-container {
    width: 100%;
    height: 40%;
    /* Set the width you want */
    /* Set the height you want */
    overflow: hidden;
    /* Optional: hide any overflowing parts */
}

.img-container img {
    width: 40%;
    /* Set width to 100% of the container */
    height: 70%;
    /* Set height to 100% of the container */
    object-fit: cover;
    /* Ensures the image covers the container */
}